.main {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 65px;
  padding: 200px 0;
  @media screen and (max-width: 1440px) {
    grid-template-columns: repeat(3, 300px);
    grid-gap: 20px;
  }
  @media screen and (max-width: 1100px) {
    grid-template-columns: repeat(2, 300px);
  }
  @media screen and (max-width: 700px) {
    grid-template-columns: 300px;
  }
}
