.recipe-detailed {
  padding: 100px 0;
  width: 70vw;
  margin: 0 auto;
  &__image--large {
    display: block;
    margin: 0 auto;
    width: 500px;
    height: 500px;
    border-radius: 25px;
  }
  &__title {
    text-align: center;
  }
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  &__btn-wrapper {
    margin: 20px 0;
  }
  &__section-title {
    color: tomato;
    text-transform: uppercase;
    font-weight: 600;
  }
}

